<img class="imga" src="assets/img/home.jpg">
<li class="textPos1">With this application, you can learn the concept of 64-bit address
  <div class="subtextPos1">translation, including the technical terms and the translation process</div> </li>


<li class="text2POS">For simplicity of practicing, only 3 hexadecimal will be used <br>
  as table entry, which is actually 40 bits in x86-64 processors </li>

<li class="text3POS">For simplicity of practicing, the physical Address of PML4 is set to 0x0</li>

<div class="wrapper">
  <a href="#/add"><span>GET STARTED</span></a>
</div>
